#container {
    display: flex;
    flex-direction: column;
}

#m-container {
    display: flex;
    flex-direction: column;
    position: relative;

    width: auto;
    height: 811px;

    background-color: #fafafa;
}

.m-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 811px;
    
    margin-bottom: 44px;

}

.input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 350px;
    height: 682px;
    margin-top: 12px;
}

.input-content .input-box:nth-last-child(3) {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 490px;

    margin-bottom: 10px;
    padding: 10px 0px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;

    background-color: white;
}

.input-content .input-box:nth-last-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 70px;

    margin-bottom: 10px;
    padding: 10px 0px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;

    background-color: white;
}

.input-content .input-box:nth-last-child(1) {
    display: flex;
    flex-direction: column;

    width: 350px;
    height: 102px;
}

.b-logo-imeges {
    display: block;

    width: 175px;
    height: 51px;

    margin: 22px auto 12px;

}

.items-group {
    display: flex;
    flex-direction: column;

    width: 348px;
    height: 364px;

    margin-bottom: 20px;
}

.items-group-form {
    display: flex;
    flex-direction: column;

    width: 348px;
    height: 363px;
}

.info-text {
    margin: 0px 40px 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #8e8e8e;
}

.facebook-login {
    display: flex;

    margin: 8px 40px;
    width: 268px;
    height: 32px;
}

.button {
    width: 268px;
    height: 32px;

    padding: 5px 9px;
    border: 1px solid #0095f6;
    border-radius: 4px;
    line-height: 18px;

    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;

    background-color: #0095f6;
}

.facebook-login i {
    font-size: 18px;
    margin: 0px 5px;
}

.hr-box {
    display: flex;
    justify-content: center;
    margin: 10px 40px 18px;
    width: 268px;
}

.hr-sect {
    display: flex;
    align-items: center;
    width: 100%;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background-color: #dbdbdb;
    height: 1px;
}

.hr-sect span {
    margin: 0px 15px;
    line-height: 15px;
    color: #8e8e8e;
    font-weight: 500;
}

.input-items {
    display: flex;
    position: relative;


    width: 268px;
    height: 38px;

    margin: 0px 40px 6px;
}

.input-items label {
    position: absolute;

    top: 7px;
    left: 8px;
    font-size: 13px;
    height: 25px;
    font-weight: 300;
    color: #8e8e8e;

}

.input-items input {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: none;
    width: 258px;
    height: 36px;
    padding: 9px 0px 7px 8px;
    font-size: 12px;
    background-color: #fafafa;
}

.button-box {
    display: flex;
    width: 348px;
    height: 46px;

}

.signup-button {
    display: flex;
    justify-content: center;

    border: none;
    border-radius: 4px;
    margin: 8px 40px;
    width: 258px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    

    background-color: #93cef6;

}

.question {
    margin: 15px;
    font-size: 14px;
    text-align: center;
    color: #262626;
}

.a-sign {
    font-size: 14px;
    color: #0095f6;
    text-decoration: none;
}

.download-text {
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    margin: 10px 20px;
    color: #262626;

}

.download-button {
    display: flex;
    justify-content: center;
    
    margin: 10px 0px;
    width: 350px;
    height: 44px;

}

.apple {
    width: 136px;
    height: 40px;
    margin-right: 8px;

}

.google {
    width: 134.28px;
    height: 40px;

}

.hidden {
    display: none;
}


#f-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 134px;

    padding: 0px 16px;
}


.f-box {
    display: flex;
    flex-direction: column;

    margin-bottom: 52px;
    width: 930px;
    height: 82px;

}

.a-box {
    display: flex;
    justify-content: center;

    width: 930px;
    height: 23px;
    margin-top: 24px;

}

.a-teg {
    display: block;
    margin: 0px 8px 12px;
    font-size: 12px;
    line-height: 16px;
    color: #8e8e8e;
}

.language {
    display: flex;
    justify-content: center;
    margin: 12px 0px;
    width: 930px;
    height: 11px;

}

#select-language {
    width: 60px;
    height: 16px;
    cursor: pointer;
    color: #8e8e8e;
    font-size: 12px;
    line-height: 16px;
    border: none;
    background-color: #fafafa;
}

.sources {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
    line-height: 16px;
    margin-left: 16px;

}